@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --background: #F9F8F6;
    --primary-color: #172339;
    --secondary-color: #C1272D;
    --title-s-mobile: 31px;
    --hover-color: #c6e1ff59;
}

* {
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--background);
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

/*  -- portrait --  */
@media screen and (min-width:650px) {
    .margin {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/*  -- tablette --  */
@media screen and (min-width:830px) {
    .margin {
        margin-left: 45px;
        margin-right: 45px;
    }
}

/* -- desktop -- */
@media screen and (min-width:1200px) {
    .margin {
        margin-left: 80px;
        margin-right: 80px;
    }
}

/* -- big screens -- */
@media screen and (min-width:1440px) {
    .margin {
        margin-left: 160px;
        margin-right: 160px;
    }

    body {
        width: 1440px;
        margin: 0 auto;
    }
}


/*Nav*/
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

.btn-burger {
    background: url('../imgs/burger.svg') no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    font-size: 0px;
    height: 17px;
    width: 25px;
}

.logo {
    background: url('../imgs/logo_mobile.svg') no-repeat;
    height: 45px;
    width: 60px;
}

.btn-contact-tab {
    display: none;
    cursor: pointer;
}

.link-logout {
    background: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
}

.link-logout:hover {
    background-color: var(--secondary-color);
    color: white;
}

.link-logout:active {
    transform: scale(0.98);
}

.link-profile {
    background: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
}

.link-profile:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.link-profile:active {
    transform: scale(0.98);
}




@media screen and (min-width: 650px) {
    .logo {
        background: url('../imgs/logo_desktop.svg') no-repeat;
        height: 58px;
        width: 200px;
        order: -1;
    }

    .btn-burger {
        display: none;
    }

    .btn-contact-tab,
    .link-logout {
        background: #fff;
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
        color: var(--secondary-color);
        display: block;
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        width: 210px;
    }

    .link-profile {
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        width: 210px;
    }

    .btn-contact-tab:hover {
        background-color: var(--secondary-color);
        color: white;
    }

    .btn-contact-tab:active {
        transform: scale(0.98);
    }
}

/*Section Contact*/

.contact {
    display: flex;
    flex-direction: column;
}

.art {
    background: url('../imgs/line.svg') no-repeat;
    display: block;
    height: 17px;
    margin-left: 100px;
    width: 125px;
}

.contact-title {
    position: relative;
    font-size: var(--title-s-mobile);
}

.contact-title--accent {
    color: var(--secondary-color);
    font-size: var(--title-s-mobile);
    font-weight: bold;
}

.landscape-img {
    display: none;
}

.contact-text {
    line-height: 165%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-contact {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    height: 50px;
    width: 215px;
}

.btn-contact:hover {
    color: var(--secondary-color);
    background-color: white;
    border: 1px solid var(--secondary-color);
}

.btn-contact:active {
    transform: scale(0.98);
}

.contact-img {
    align-self: center;
    background: url('../imgs/mobile_img.jpg');
    border-radius: 5px;
    display: block;
    height: 205px;
    width: 292px;
    margin-bottom: 60px;
}

.desktop-infos {
    display: none;
}

@media screen and (min-width:650px) {

    .contact {
        margin-top: 80px;
    }

    .contact-img {
        display: none;
    }

    .contact-title {
        max-width: 65%;
    }

    .contact-text,
    .confirm-msg,
    .error-msg {
        font-size: 16px;
        margin-top: 60px;
        max-width: 55%;
    }

    .contact-title,
    .contact-title--accent {
        font-size: 40px;
    }

    .btn-contact {
        font-size: 18px;
        height: 65px;
        margin-top: 60px;
        width: 270px;
    }

    .landscape-img {
        display: block;
        position: absolute;
        background: url('../imgs/landscape_img.jpg') no-repeat;
        height: 445px;
        width: 255px;
        right: 30px;
        z-index: -1;
    }
}

@media screen and (min-width:830px) {
    .contact-title {
        max-width: 70%;
    }

    .contact-text,
    .confirm-msg,
    .error-msg {
        font-size: 18px;
    }

    .contact-title,
    .contact-title--accent {
        font-size: 55px;
    }

    .landscape-img {
        background: url('../imgs/tablette_img.jpg') no-repeat;
        height: 522px;
        width: 300px;
        right: 45px;
    }

    .btn-contact {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-title {
        max-width: 65%;
    }

    .contact-title,
    .contact-title--accent {
        font-size: 65px;
    }

    .contact-text,
    .confirm-msg {
        font-size: 20px;
    }

    .landscape-img {
        background: url('../imgs/desktop_img.jpg') no-repeat;
        height: 604px;
        width: 348px;
        right: 45px;
    }
}

@media screen and (min-width: 1200px) {
    .landscape-img {
        right: 350px;
    }

    .desktop-infos {
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: absolute;
        right: 65px;
        top: 200px;
    }

    .confirm-msg,
    .error-msg {
        max-width: 35%;
    }
}

@media screen and (min-width: 1440px) {
    .landscape-img {
        right: 480px;
    }

    .desktop-infos {
        right: 175px;
    }
}

@media screen and (min-width: 1700px) {
    .landscape-img {
        right: 580px;
    }

    .desktop-infos {
        right: 300px;
    }
}

/*Section Infos*/
.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos-title {
    color: var(--secondary-color);
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

.infos-title--text {
    font-size: 26px;
}

.infos-text {
    margin-bottom: 40px;
    text-transform: uppercase;
}

@media screen and (min-width:650px) {
    .infos {
        flex-direction: row;
        margin-top: 90px;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .infos-title {
        font-size: 55px;
    }

    .infos-title--text {
        font-size: 35px;
    }

    .infos-text-m {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .infos {
        display: none;
    }
}

/*Section Localisation*/

.localisation {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localisation-title {
    margin: 40px 20px 60px;
    font-size: 26px;
    text-align: center;
}

.localisation-title--accent {
    color: var(--secondary-color);
    font-size: 26px;
    font-weight: bold;
}

.caroussel-wrapper {
    display: flex;
    align-items: center;
}

.caroussel-title {
    font-size: 18px;
    text-align: center;
}

.caroussel-title--accent {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
}

.caroussel-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
}

.caroussel-num {
    text-align: center;
    margin-bottom: 60px;
}

.mobile-nav {
    border: none;
    font-size: 0px;
    height: 24px;
    width: 14px;
}

.maps {
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    width: 240px;
    border: none;
}

#prev {
    background: url('../imgs/arrow.svg') no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(180deg);
    margin-bottom: 60px;
}

#next {
    background: url('../imgs/arrow.svg') no-repeat;
    background-position: center;
    cursor: pointer;
    margin-bottom: 60px;
}


@media screen and (min-width:650px) {
    .localisation {
        margin-left: 30px;
        margin-right: 30px;
    }

    .localisation-title,
    .localisation-title--accent {
        font-size: 32px;
    }

    .caroussel-title,
    .caroussel-title--accent {
        font-size: 26px;
    }

    .caroussel-num {
        font-size: 20px;
    }

    .maps {
        width: 450px;
        height: 250px;
        margin-left: unset;
        margin-right: unset;
    }

    #prev,
    #next {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .localisation {
        margin-top: 85px;
    }
}

@media screen and (min-width:1440px) {
    .localisation {
        margin-left: 160px;
        margin-right: 160px;
    }
}

/*Footer*/

.footer {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-small {
    background: url('../imgs/logo_mobile.svg') no-repeat;
    display: block;
    height: 30px;
    width: 35px;
}

.footer-text {
    font-size: 9px;
    text-align: center;
}

.facebook {
    background: url('../imgs/logo_facebook.svg') no-repeat;
    display: block;
    height: 17px;
    width: 17px;
}

@media screen and (min-width:650px) {

    .logo-small {
        height: 46px;
        width: 58px;
    }

    .footer-text {
        font-size: 12px;
    }

    .facebook {
        transform: scale(1.5);
    }
}

@media screen and (min-width:1200px) {
    .footer-text {
        font-size: 14px;
    }
}

/* Modal */

.modal-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.modal {
    align-items: center;
    background-color: var(--background);
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 15%);
    height: max-content;
    padding: 20px;
    position: relative;
    width: 400px;
}

.modal p {
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.modal form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.modal input[type="text"],
#email,
.modal select {
    border: 1px solid gray;
    border-radius: 0;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 5px 0 15px;
    outline: none;
    padding: 7px;
}

.modal .input-error {
    border: 1px solid red !important;
}


.close-modal,
.close-msg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border: 0;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus,
.close-msg:hover,
.close-msg:focus {
    background-color: #eee;
    color: var(--secondary-color);
}

.close-modal:active,
.close-msg:active {
    transform: scale(0.8);
}

.modal-wrapper {
    display: flex;
    flex-basis: 100%;
    gap: 15px;
    justify-content: flex-end;
}

.modal-wrapper input[type="submit"],
.modal-wrapper input[type="reset"] {
    border: 1px solid gray;
    border-radius: 0;
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 10px;
}

.modal-wrapper input[type="submit"]:hover,
.modal-wrapper input[type="reset"]:hover {
    color: #fff;
    background-color: var(--secondary-color);
}

.modal-wrapper input[type="submit"]:active,
.modal-wrapper input[type="reset"]:active {
    transform: scale(0.95);
}

.modal-wrapper input[type="submit"]:disabled {
    background-color: lightgray;
    border: 1px solid transparent;
    color: black;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    font-style: italic;
}

option:checked {
    color: var(--secondary-color);
}

textarea {
    padding: 10px;
    outline: none;
}

textarea::placeholder {
    font-style: italic;
}

.form-label {
    font-weight: 600;
}

.confirm-msg {
    background-color: #b6e2fa;
    color: var(--primary-color);
    line-height: 165%;
    margin-bottom: 10px;
}

.error-msg {
    color: var(--secondary-color);
    background-color: #ffcccd;
    line-height: 165%;
}

.number {
    margin-bottom: 35px;
    text-align: center;
}

.connexion-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.connexion-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    height: 25px;
}

.input-container input[type="submit"] {
    background-color: var(--primary-color);
    border: 1px transparent;
    color: white;
    height: 35px;
    margin-top: 25px;
    cursor: pointer;
}

.input-container input[type="submit"]:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.input-container input[type="submit"]:active {
    transform: scale(0.97);
}

.input-container input[type="email"],
.input-container input[type="password"] {
    font-size: 18px;
}

.error-message {
    color: red;
    text-align: center;
    background-color: #ffc6c7;
}

.confirm-message {
    color: blue;
    text-align: center;
    background-color: #c4e1ff;
    margin: 0 auto;
}

@media screen and (min-width:650px) {
    .connexion-title {
        margin: 0 auto;
        text-align: center;
    }

    .connexion-form {
        height: 50vh;
        margin: 0 auto;
        width: 350px;
    }

    .error-message,
    .confirm-message {
        width: 350px;
        margin: 0 auto;
    }
}

.link-logout,
.link-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Message Page*/
.messages {
    margin-bottom: 150px;
}

/*Message Page - Search+info*/
.messages-bar {
    display: flex;
    justify-content: space-between;
}

.messages-search-icon {
    background: url('../imgs/search.svg') no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 25px;
}

.messages-unread,
.messages-total {
    font-weight: bold;
    color: gray;
}

.messages-unread-nb,
.messages-total-nb {
    font-weight: bold;
}

.messages-unread-nb {
    color: var(--secondary-color);
}

.messages-total-nb {
    color: var(--primary-color);
}

/*Message Page - message blocks*/
.separation {
    border-bottom: 2px solid lightgray;
    margin: 10px 0;
}

.messages-grid {
    display: grid;
    grid-template-columns: 6fr repeat(2, 3fr) 1fr;
    grid-template-rows: auto;
}

.message-grid-row {
    border-top: 1px solid lightgray;
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 6fr repeat(2, 3fr) 1fr;
    padding: 10px 0px;
    position: relative;
}

.contact-mail {
    cursor: pointer;
}

.message-grid-row:hover {
    background-color: var(--hover-color);
}

.message-empty {
    color: gray;
    font-weight: bold;
    margin: 15px 0;
}

.message-top {
    color: gray;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
}

.message-top:hover {
    color: var(--hover-color);
}

.message-center {
    text-align: center;
}

.messages-block-head {
    display: flex;
    justify-content: space-between;
}

.messages-block-title {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.messages-block-title:hover {
    color: var(--hover-color)
}

.messages-open-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    transform: rotate(90deg);
}

.messages-open-icon svg {
    fill: var(--secondary-color);
    height: 18px;
    width: 14px;
}

.messages-open-icon svg:hover {
    fill: var(--hover-color)
}

.messages-open-icon svg:active {
    transform: scale(0.88);
}

.sec-color {
    color: var(--secondary-color);
}

#select-order {
    margin-right: 30px;
}

/*Message Page - Individual messages*/
.contact-infos {
    display: flex;
    align-self: center;
    font-size: 16px;
    word-break: break-all;
}

.unread,
.read,
.answered {
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.delete {
    color: #fff;
    font-weight: bold;
}

.default-btn {
    border: none;
    cursor: pointer;
}

.default-btn:hover {
    opacity: 0.5;
}

.default-btn:active {
    transform: scale(0.8);
}

.unread {
    background-color: var(--secondary-color);
}

.read {
    background-color: green;
}

.answered {
    background-color: gray;
}

.icon-rotate {
    transform: unset;
}

.none {
    display: none;
}

.submenu {
    position: absolute;
    right: 0;
    z-index: 2;
}

.submenu-list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.submenu-item {
    border: 1px solid lightgray;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 5px;
}

.submenu-delete {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 5px;
}

.delete-btn {
    border: none;
    background-color: unset;
}

.submenu-delete:hover {
    background-color: #fff;
}

.submenu-delete:hover [type="button"] span {
    color: var(--secondary-color);
}

.submenu-item:hover {
    background-color: var(--hover-color);
}

.submenu-item:active a span {
    transform: scale(0.95);
}

.submenu-item a {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.submenu-delete a {
    width: 100%;
}

.submenu-item a span {
    display: inline-flex;
}

.submenu-delete a span {
    display: inline-flex;
}





/* Page confidentialite */
.link-policy {
    text-decoration: underline;
}

.confidentialite {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.confidentialite h1,
.confidentialite h2,
.confidentialite h3,
.confidentialite h4,
.confidentialite h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.confidentialite h1 {
    font-size: var(--title-s-mobile);
    margin-bottom: 30px;
}

.confidentialite h2 {
    font-size: calc(var(--title-s-mobile)*0.8);
}

.confidentialite h3 {
    font-size: calc(var(--title-s-mobile)*0.7);
}

.confidentialite h4 {
    font-size: calc(var(--title-s-mobile)*0.6);
}

.confidentialite h5 {
    font-size: calc(var(--title-s-mobile)*0.5);
    margin-bottom: unset;
}

.confidentialite p {
    margin-bottom: 10px;
}

.confidentialite a {
    color: blue;
    text-decoration: underline;
}

.confidentialite ul li {
    margin: 0px 0px 3px 30px;
    list-style: disc;
}

.confidentialite-contact p {
    margin-bottom: unset;
}

.modal .confidentialite-text {
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

.modal .policy-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

.policy-wrapper input[type="checkbox"] {
    margin-right: 5px;
}

.delete-modal {
    align-items: center;
    background-color: var(--background);
    border: 1px solid gray;
    box-shadow: 2px 1px 5px gray;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    left: 50%;
    padding: 5px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    width: max-content;
    z-index: 5;
}

.delete-modal-text {
    margin: 5px 0;
}

.delete-btn-wrapper {
    align-items: center;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.btn-close-delete {
    background-color: #fff;
    border: 1px solid gray;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    width: 50px;
}

.btn-confirm-delete {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    width: 50px;
}

.btn-confirm-delete:hover {
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}


.blur {
    filter: blur(5px);
}

.focus {
    filter: blur(unset);
}

.test {
    position: relative;
    background-color: #fff;
    border: 1px solid lightgray;
    height: 350px;
    padding: 10px;
    padding-top: 70px;
}

.detail-grid {
    box-shadow: 1px 0 0 0 #888,
        0 1px 0 0 #888,
        1px 1px 0 0 #888,
        1px 0 0 0 #888 inset,
        0 1px 0 0 #888 inset;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.detail-grid span {
    align-items: center;
    display: flex;
    padding: 5px;
}

.detail-grid span:first-of-type {
    background-color: #e2e2e2;
    box-shadow: 1px 0 0 0 #888,
        0 1px 0 0 #888,
        1px 1px 0 0 #888,
        1px 0 0 0 #888 inset,
        0 1px 0 0 #888 inset;
}

.detail-title {
    color: gray;
    font-weight: bold;
    font-size: 11px;
}